In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━╸━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/310.8 MB 83.1 MB/s eta 0:00:04

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

#1 spark SQL - Consultas e Seleções

In [ ]:
df = spark.sql('''select 'ok' as Status''')
df.show()

#2 Importing Data

In [ ]:
#Gerado com base em python
df = spark.read.csv("/content/cereal.csv", sep = ",", inferSchema = True, header = True)
df.show()

#3 Manipulation Data with Spark SQL

In [ ]:
df.createOrReplaceTempView("cereal")

In [ ]:
#Gerado com base em SQL
cereal = spark.sql('''select * from cereal''')
cereal.show()

In [ ]:
#filtro com Pyspark SQL
cereal = spark.sql('''select * from cereal where type = 'C' ''')
cereal.show()

In [ ]:
df1 = df.where(df["type"]== "C")
df1.show()

In [ ]:
cereal = spark.sql('''select count(*) as total from cereal where mfr = 'G' ''')
cereal.show()

In [ ]:
df.where(df["mfr"] == "G").count()

#4 Select no PySpark SQL

In [ ]:
df.printSchema()

In [ ]:
df.createOrReplaceTempView("cereal")

In [ ]:
cereal = spark.sql('''select name, type, mfr from cereal ''')
cereal.show()

#5 Exclusão de valores repetidos, deixando apenas valores únicos

In [ ]:
cereal = spark.sql('''select type, mfr from cereal ''')
cereal.show()

In [ ]:
cereal = spark.sql('''select type, mfr from cereal ''')
cereal.count()

In [ ]:
cereal = spark.sql('''select distinct type, mfr from cereal ''')
cereal.show()

In [ ]:
cereal = spark.sql('''select distinct type, mfr from cereal ''')
cereal.count()

#6 Where no Spark SQL (filtro)

In [ ]:
cereal = spark.sql('''select * from cereal where mfr = "N" ''')
cereal.count()

In [ ]:
cereal = spark.sql('''select * from cereal where mfr = "K" and calories >= 100  ''')
cereal.count()

In [ ]:
cereal = spark.sql('''select * from cereal where mfr = "K" and calories >= 100  ''')
cereal.show()

#7 Group By

In [ ]:
cereal = spark.sql('''SELECT mfr, type, COUNT(*) FROM cereal GROUP BY mfr, type  ''')
cereal.count()

In [ ]:
cereal = spark.sql('''SELECT mfr, type, COUNT(*) AS total FROM cereal GROUP BY mfr, type  ''')
cereal.show()

In [ ]:
cereal = spark.sql('''SELECT mfr, type, COUNT(*) AS total, SUM(calories) as Total_calories FROM cereal GROUP BY mfr, type  ''')
cereal.show()

In [ ]:
cereal = spark.sql('''SELECT mfr, type, COUNT(*) AS total, SUM(calories) as Total_calories FROM cereal GROUP BY mfr, type  ''')
cereal.count()

In [ ]:
#organizando a estrutura de uma forma mais legivel
cereal = spark.sql('''SELECT mfr, \
                             type, \
                             COUNT(*) AS total, \
                             SUM(calories) as Total_calories
                      FROM cereal \
                      GROUP BY \
                             mfr, \
                             type  ''')
cereal.count()

#8 Case When

In [ ]:
cereal = spark.sql('''SELECT DISTINCT type
                      FROM cereal ''')
cereal.show()

In [ ]:
cereal = spark.sql('''SELECT mfr, \
                             (case
                                   when type = "C" then "A"
                                   else "B" end) as type_new,
                             COUNT(*) AS total, \
                             SUM(calories) as Total_calories
                      FROM cereal \
                      GROUP BY \
                             mfr, \
                             type  ''')
cereal.show()

In [ ]:
A